embeddings.csv filter=lfs diff=lfs merge=lfs -text
prebuilt_index.faiss filter=lfs diff=lfs merge=lfs -text
encoder_model_last.keras filter=lfs diff=lfs merge=lfs -text
movie_details.json filter=lfs diff=lfs merge=lfs -text
